name: Deploy Next.js to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Restore .env file
      - name: Create .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > apps/web/.env

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Build turbo repo
      - name: Build turborepo
        run: npx turbo run build --filter=web...

      # Deploy to Azure (package is apps/web)
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: KMCC
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: apps/web

