# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - KMCC

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # This is required for actions/checkout

    env:
      NEXT_PUBLIC_API_BASE_URL: https://storeapi-vewo.onrender.com
      NEXT_PUBLIC_API_KEY: 66ee43a23d6b6d3398c67c87
      NEXT_PUBLIC_API_SECRET: ca66d1a2b39081269c1301b49337a78705f3af4353c813291a2d797792d39402
      NEXT_PUBLIC_FB_API_KEY: AIzaSyBsCwcyeCdU1Knkxy8A9FTE9zyThqkVvQ4
      NEXT_PUBLIC_FB_AUTH_DOMAIN: nexa-372db.firebaseapp.com
      NEXT_PUBLIC_FB_PROJECT_ID: nexa-372db
      NEXT_PUBLIC_FB_STORAGE_BUCKET: nexa-372db.appspot.com
      NEXT_PUBLIC_FB_MESSAGING_CENTER_ID: 181752991244
      NEXT_PUBLIC_FB_APP_ID: 1:181752991244:web:ca9c58181ea33a82522829
      NEXT_PUBLIC_EMPLOYEE_ID: 665b55d891ffd1000934fe51

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'KMCC'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_13B30ABC972A4C819247816E9534D70D }}
